<header>
		<nav>
			<ul class="mainNav">
				<li>
					<a href="index.php?filter=shoes">SHOES</a>
				</li>
				<li>
					<a href="index.php?filter=backpacks">BACKPACKS</a>
				</li>
				<li>
					<a href="index.php?filter=hats">HATS</a>
				</li>
				<li>
					<a href="index.php?filter=jerseys">JERSEYS</a>
				</li>
				<li>
					<a href="index.php?filter=electronics">ELECTRONICS</a>
				</li>
				<li>
					<a href="index.php?filter=kids">KIDS</a>
				</li>
				<li>
					<a href="index.php?filter=kids">ONE MORE</a>
				</li>
				<li>
					<a href="index.php">VIEW ALL</a>
				</li>
				<li>
						<form method="POST" action="admin/search.php" id="searchform"> 
							<input type="text" name="search"> 
							<input type="submit" name="submit" value="Search"> 
						</form> 
				</li>

			</ul>
		</nav>
</header>
