<header>
		<nav>
			<ul class="mainNav">
				<li>
					<a href="index.php?filter=shoes">SHOES</a>
				</li>
				<li>
					<a href="index.php?filter=backpacks">BACKPACKS</a>
				</li>
				<li>
					<a href="index.php?filter=hats">HATS</a>
				</li>
				<li>
					<a href="index.php?filter=jerseys">JERSEYS</a>
				</li>
				<li>
					<a href="index.php?filter=electronics">ELECTRONICS</a>
				</li>
				<li>
					<a href="index.php?filter=kids">KIDS</a>
				</li>
				<li>
					<a href="index.php?filter=bikes">BIKES</a>
				</li>
				<li>
					<a href="index.php">VIEW ALL</a>
				</li>
			</ul>
		</nav>
</header>
