<header>
		<nav>
			<ul>
				<li>
					<a href="index.php?filter=shoes">Shoes</a>
				</li>
				<li>
					<a href="index.php?filter=backpacks">Backpacks</a>
				</li>
				<li>
					<a href="index.php?filter=hats">Hats</a>
				</li>
				<li>
					<a href="index.php?filter=jerseys">Jerseys</a>
				</li>
				<li>
					<a href="index.php?filter=electronics">Electronics</a>
				</li>
				<li>
					<a href="index.php?filter=kids">Kids</a>
				</li>
				<li>
					<a href="index.php?filter=kids">ONE MORE</a>
				</li>
				<li>
					<a href="index.php">All</a>
				</li>
			</ul>
		</nav>
</header>
